// app global css in SCSS form

.debug_red {
  border: 1px dotted red;
}

.debug_green {
  border: 1px dotted green;
}

.debug_blue {
  border: 1px dotted blue;
}

// .q-message-avatar {
//   background-color: white !important;
// }

.out_of_screen {
  display: none;
  /* visibility: hidden; */
}